.registered
.cache
.DS_Store
*.swp
.vscode/
build/
bin/
lib/
runs
models
samples
*.pcd
*.pyc
*.so
*.dylib
py-bindings/ompl/app/
py-bindings/ompl/bindings_generator.py
!py-bindings/ompl/bindings_generator.py.in
